.sidebar{
    width: 75px !important;
    a{
        color: white !important;
        i{
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    img{
        width: 100%;
    }
}
#musicNavbar{
  height: 100vh;
}

#moduleContainer{
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.globalContainer {
    margin-left: 75px !important;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  & > div {
    width: 100%;
  }
  .modalContainer {
    height: 20vh;
    text-align: center;
    line-height: 2em;
  }
  .modalHeader {
    text-align: center;
    line-height: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }
  .closeModal {
    width: 3rem;
    height: 3rem;
    color: white;
    position: absolute;
    right: 15px;
    margin: 0;
    top: 30px;
    font-size: 3rem;
  }
}
