
.icon-cd:before { content: '\e800'; } /* '' */
.icon-cd-1:before { content: '\e801'; } /* '' */
.icon-cd-2:before { content: '\e802'; } /* '' */
.icon-cd-3:before { content: '\e803'; } /* '' */
.icon-music:before { content: '\e804'; } /* '' */
.icon-music-3:before { content: '\e805'; } /* '' */
.icon-music-1:before { content: '\e806'; } /* '' */
.icon-music-2:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */