<div class="nav">
   
    <ul>
        
        <li (click)="walk()">
            <i class='fa fa-refresh'></i>
            <div>Import</div>
        </li>
        <li routerLink="/music/artists">
            <i class='icon-user'></i>
            <div>Artist</div>
        </li>
        <li routerLink="/music/albums">
            <i class='icon-cd'></i>
            <div>Albums</div>
        </li>
        <li routerLink="/music/titles">
            <i class='icon-music-1'></i>
            <div>Titles</div>
        </li>    
    </ul>
</div>
<div class="column">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div>
        <player></player>
    </div>
</div>